* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #FCFEFE, #E4F0F2);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.3rem 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header::before {
    content: '';
    position: absolute;
    background: linear-gradient(to right, #2D5B76, #0E1C33);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.logo-container .moon {
    width: 35px;
    height: 35px;
    margin-right: 0.3rem;
}

.logo {
    font-family: 'League Spartan', sans-serif;
    font-size: 2rem;
    color: white;
    text-decoration: none;
    font-weight: 700;
}

.logo .second {
    color: #6a9aa3;
}

.navbar a {
    font-family: 'League Spartan', sans-serif;
    font-size: 23px;
    color: white;
    text-decoration: none;
    font-weight: 500;
}

.navbar a.welcome {
    pointer-events: none;
}

.navbar a.user {
    margin-left: 0.3rem;
    pointer-events: none;
}

.navbar a.close{
    color: #6295A3;
    margin-left: 3rem;
}

.icons {
    font-size: 2.8rem;
    color: white;
    cursor: pointer;
    display: none;
}

.images .back{
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%; 
}

.images .rocket{
    position: absolute;
    filter: brightness(0.8);
    width: 200px; 
    height: 220px; 
    right: 400px;
    top: 500px;
    transition: 0.7s ease;
    animation: mover 4s infinite linear;
    z-index: 50;
}

@keyframes mover {
    0%, 100%{ transform: translateY(-30%) translateX(-30%) rotate(-80deg); }
    50% { transform: translateY(0) translateX(0%) rotate(-70deg); }
}

@media (max-width: 992px) {
    .header {
        padding: 1.3rem 5%;
    }
}

@media (max-width: 768px){
    .icons {
        display: inline-flex;
    }
    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 17.7rem;
        background: linear-gradient(to right, #2D5B76, #0E1C33);
    }

    .navbar a {
        display: block;
        font-size: 1.1rem;
        margin: 1.5rem 0;
        text-align: center;
    }
}

main.table {
    position: absolute;
    font-family: 'League Spartan', sans-serif;
    color: #0E1C33;
    width: 40vw;
    height: 50vh;
    background-color: #fff5;
    top: 200px;
    left: 200px;
    backdrop-filter: blur(7px);
    box-shadow: 0 .4rem .8rem #0005;
    border-radius: .8rem;
    z-index: 99;
    overflow: hidden;
}

.table__header {
    width: 100%;
    height: 10%;
    background-color: #fff4;
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.table__header .input-group {
    width: 35%;
    height: 100%;
    background-color: #fff5;
    padding: 0 .8rem;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: .2s;
}

.table__header .input-group:hover {
    width: 45%;
    background: linear-gradient(to right, #FCFEFE, #E4F0F2);;
    box-shadow: 0 .1rem .4rem #0002;
}

.table__header .input-group i {
    color: #6a9aa3;
    width: 100%;
    height: 100%;
}

.table__header .input-group button {
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
    z-index: 60;
}

.table__header .input-group input {
    font-family: 'Open Sans', sans-serif;
    color: #6a9aa3;
    font-weight: bold;
    width: 100%;
    padding: 0 .5rem 0 .3rem;
    background-color: transparent;
    border: none;
    outline: none;
}

.table__body {
    width: 95%;
    max-height: calc(89% - 1.6rem);
    background-color: #fffb;

    margin: .8rem auto;
    border-radius: .6rem;

    overflow: auto;
    overflow: overlay;
}

.table__body::-webkit-scrollbar{
    width: 0.5rem;
    height: 0.5rem;
}

.table__body::-webkit-scrollbar-thumb{
    border-radius: .5rem;
    background-color: #0004;
    visibility: hidden;
}

.table__body:hover::-webkit-scrollbar-thumb{ 
    visibility: visible;
}

table {
    width: 100%;
}

table, th, td {
    border-collapse: collapse;
    padding: 1rem;
    text-align: left;
}

thead {
    background: linear-gradient(to right, #FCFEFE, #E4F0F2); /* Fondo gradiente para el thead */
    position: sticky;
    top: 0;
    pointer-events: none;
}

thead tr {
    background: transparent;
}

thead th {
    position: sticky;
    top: 0;
    left: 0;
    cursor: pointer;
    text-transform: capitalize;
}

tbody tr:nth-child(even) {
    background-color: #0000000b;
}

tbody tr {
    --delay: .1s;
    transition: .5s ease-in-out var(--delay), background-color 0s;
}

tbody tr.hide {
    opacity: 0;
    transform: translateX(100%);
}

tbody tr td a i {
    font-size: 25px;
    color: red;
}

tbody tr:hover {
    background-color: #fff6 !important;
}

tbody tr td,
tbody tr td p,
tbody tr td img {
    transition: .2s ease-in-out;
}

tbody tr.hide td,
tbody tr.hide td p {
    padding: 0;
    font: 0 / 0 sans-serif;
    transition: .2s ease-in-out .5s;
}

tbody tr.hide td img {
    width: 0;
    height: 0;
    transition: .2s ease-in-out .5s;
}

.status {
    padding: .4rem 0;
    border-radius: 2rem;
    text-align: center;
}

.status.delivered {
    background-color: #86e49d;
    color: #006b21;
}

.status.cancelled {
    background-color: #d893a3;
    color: #b30021;
}

.status.pending {
    background-color: #ebc474;
}

.status.shipped {
    background-color: #6fcaea;
}


@media (max-width: 1000px) {
    td:not(:first-of-type) {
        min-width: 12.1rem;
    }
}

thead th span.icon-arrow {
    display: inline-block;
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 50%;
    border: 1.4px solid transparent;
    
    text-align: center;
    font-size: 1rem;
    
    margin-left: .5rem;
    transition: .2s ease-in-out;
}

thead th:hover {
    color: #0E1C33;
}

thead th.active span.icon-arrow{
    background-color: #6c00bd;
    color: #fff;
}

thead th.asc span.icon-arrow{
    transform: rotate(180deg);
}

thead th.active,tbody td.active {
    color: #6c00bd;
}

.export__file {
    position: relative;
}

.export__file .export__file-btn {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background: #fff6 url(images/export.png) center / 80% no-repeat;
    border-radius: 50%;
    transition: .2s ease-in-out;
}

.export__file .export__file-btn:hover { 
    background-color: #fff;
    transform: scale(1.15);
    cursor: pointer;
}

.export__file input {
    display: none;
}

.export__file .export__file-options {
    position: absolute;
    right: 0;
    
    width: 12rem;
    border-radius: .5rem;
    overflow: hidden;
    text-align: center;

    opacity: 0;
    transform: scale(.8);
    transform-origin: top right;
    
    box-shadow: 0 .2rem .5rem #0004;
    
    transition: .2s;
}

.export__file input:checked + .export__file-options {
    opacity: 1;
    transform: scale(1);
    z-index: 100;
}

.export__file .export__file-options label{
    display: block;
    width: 100%;
    padding: .6rem 0;
    background-color: #f2f2f2;
    
    display: flex;
    justify-content: space-around;
    align-items: center;

    transition: .2s ease-in-out;
}

.export__file .export__file-options label:first-of-type{
    padding: 1rem 0;
    background-color: #86e49d !important;
}

.export__file .export__file-options label:hover{
    transform: scale(1.05);
    background-color: #fff;
    cursor: pointer;
}

.export__file .export__file-options img{
    width: 2rem;
    height: auto;
}

.addnew {
    position: absolute;
    display: flex;
    font-family: 'League Spartan', sans-serif;
    bottom: 100px;
    left: 350px;
    font-size: 20px;
    color: #0E1C33;
    z-index: 100;
}

.addnew button {
    border: none;
    outline: none;
    padding: 10px 20px;
    background: #0E1C33;
    color: white;
    font-size: 15px;
    font-weight: bold;
    border-radius: 10px;
    transform: translateX(20px) translateY(-10px);
    transition: 0.5s;
    cursor: pointer;
}

.addnew button:hover {
    transition: 0.2s;
    color: #0E1C33;
    background: #86c1d1;
}

.modal-box {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 500px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.addnew.active .show-modal {
  display: none;
}
.overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  pointer-events: none;
}
.addnew.active .overlay {
    top: 0;
    left: 0;
    opacity: 1;
    pointer-events: auto;
}
.modal-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 380px;
  width: 100%;
  padding: 30px 20px;
  border-radius: 24px;
  background-color: #fff;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
  transform: translate(-50%, -50%) scale(1.2);
}
.addnew.active .modal-box {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
}
.modal-box i {
  font-size: 70px;
  color: #6295A3;
}
.modal-box h2 {
  margin-top: 20px;
  font-size: 25px;
  font-weight: 500;
  color: #333;
}
.modal-box h3 {
  font-size: 16px;
  font-weight: 400;
  color: #333;
  text-align: center;
}
.modal-box .buttons {
    left: 0;
  margin-top: 25px;
}
.modal-box button {
  font-size: 18px;
  padding: 6px 12px;
  margin: 0 30px;
}

.modal-box .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 25px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid #568088;
    padding-right: 23px;
    font-family: 'League Spartan', sans-serif;
    font-size: 16px;
    color: #192645;
    font-weight: 500;
    transition: .5s;
}

.input-box input:focus,
.input-box input:valid {
    border-bottom-color: #192645;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-family: 'League Spartan', sans-serif;
    font-size: 16px;
    color: #192645;
    transition: .5s;
}

.input-box input::-webkit-inner-spin-button{
    -webkit-appearance: none;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
    color: #568088;
}

